<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.hackathon.ecoresearch.category"
            id="org.hackathon.ecoresearch.searchdialog"
            name="Open editor">
         <commandParameter
               id="org.hackathon.ecoresearch.commands.resourceParameter"
               name="resource"
               optional="false">
         </commandParameter>
      </command>
      <category
            id="org.hackathon.ecoresearch.category"
            name="Ecore Search">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.hackathon.ecoresearch.handlers.OpenEditorHandler"
            commandId="org.hackathon.ecoresearch.searchdialog">
      </handler>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.hackathon.ecoresearch.searchdialog"
            contextId="org.eclipse.emf.ecoretools.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
   </extension>
-->
</plugin>
